In [1]:
import numpy as np  # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
books = pd.read_csv('GoodReads_35k_books.csv',low_memory=False)

In [3]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13270 entries, 0 to 13269
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    13270 non-null  int64
 1   author        13270 non-null  object
 2   desc          13270 non-null  object
 3   genre         13270 non-null  object
 4   img           13270 non-null  object
 5   isbn          13270 non-null  object
 6   link          13270 non-null  object
 7   pages         13270 non-null  int64
 8   rating        13270 non-null  float64
 9   reviews       13270 non-null  int64
 10  title         13270 non-null  object
 11  totalratings  13270 non-null  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 1.2+ MB

In [4]:
books.shape

(13270, 12)

In [5]:
books.head(0)

Empty DataFrame
Columns: [Unnamed: 0, author, desc, genre, img, isbn, link, pages, rating, reviews, title, totalratings]
Index: []

In [6]:
books = books[['author','desc','genre','img','isbn','link','pages','rating','reviews','title','totalratings']]

In [7]:
books.head(0)

Empty DataFrame
Columns: [author, desc, genre, img, isbn, link, pages, rating, reviews, title, totalratings]
Index: []

In [8]:
books.duplicated().sum() #checking if any field is duplicated and how many are duplicated

0

In [9]:
books.isnull().sum()    #checking if any field is empty and how many are empty

author          0
desc            0
genre           0
img             0
isbn            0
link            0
pages           0
rating          0
reviews         0
title           0
totalratings    0
dtype: int64

In [10]:
books.dropna(inplace=True)          #drops the not available field
books.drop_duplicates(inplace=True) #drops the duplicated field 
#inplace means make change in the original data frame

In [11]:
books.to_csv('filtered_book.csv') #save the preprocessed database

In [12]:
# books.head(1)['genre'].values
books.iloc[0]

author                                             Gladys M. Hunt
desc            Family favorite now revised and updated, inclu...
genre           Parenting,Education,Nonfiction,Writing,Books A...
img             https://i.gr-assets.com/images/S/compressed.ph...
isbn                                                    310242460
link            https://goodreads.com/book/show/126830.Honey_f...
pages                                                         251
rating                                                       4.44
reviews                                                       341
title           Honey for a Child's Heart: The Imaginative Use...
totalratings                                                 3814
Name: 0, dtype: object

In [13]:
books.head(1)

,author,desc,genre,img,isbn,link,pages,rating,reviews,title,totalratings
0,Gladys M. Hunt,"Family favorite now revised and updated, inclu...","Parenting,Education,Nonfiction,Writing,Books A...",https://i.gr-assets.com/images/S/compressed.ph...,310242460,https://goodreads.com/book/show/126830.Honey_f...,251,4.44,341,Honey for a Child's Heart: The Imaginative Use...,3814

In [14]:
# books['desc'][0]

In [15]:
books['genre']=books['genre'].apply(lambda x:x.split(','))
books['author']=books['author'].apply(lambda x:x.split(','))
books['desc']=books['desc'].apply(lambda x:x.split(' '))

In [16]:
books.head(1)

,author,desc,genre,img,isbn,link,pages,rating,reviews,title,totalratings
0,[Gladys M. Hunt],"[Family, favorite, now, revised, and, updated,...","[Parenting, Education, Nonfiction, Writing, Bo...",https://i.gr-assets.com/images/S/compressed.ph...,310242460,https://goodreads.com/book/show/126830.Honey_f...,251,4.44,341,Honey for a Child's Heart: The Imaginative Use...,3814

In [17]:
books['genre']=books['genre'].apply(lambda x:[i.replace(" ","")for i in x])
books['author']=books['author'].apply(lambda x:[i.replace(" ","")for i in x])
books['desc']=books['desc'].apply(lambda x:[i.replace(" ","")for i in x])
#will remove all the spaces in between the words to remove the tag ambigiuty (sam alterman sam ross me sam comman hai to problem ayegi)

In [18]:
books.head(1)

,author,desc,genre,img,isbn,link,pages,rating,reviews,title,totalratings
0,[GladysM.Hunt],"[Family, favorite, now, revised, and, updated,...","[Parenting, Education, Nonfiction, Writing, Bo...",https://i.gr-assets.com/images/S/compressed.ph...,310242460,https://goodreads.com/book/show/126830.Honey_f...,251,4.44,341,Honey for a Child's Heart: The Imaginative Use...,3814

In [19]:
books['tags'] = books['author'] + books['genre'] + books['desc'] 
books.head(1)['tags'].values

array([list(['GladysM.Hunt', 'Parenting', 'Education', 'Nonfiction', 'Writing', 'BooksAboutBooks', 'Reference', 'Christian', 'Childrens', 'Family', 'Literature', 'Teaching', 'Family', 'favorite', 'now', 'revised', 'and', 'updated,', 'including', 'an', 'annotated', 'list', 'of', 'books', 'for', 'ages', '0-12,Everything', 'parents', 'need', 'to', 'know', 'to', 'find', 'the', 'best', 'books', 'for', 'their', 'children,Since', 'its', 'publication', 'in', '1969,', 'this', 'has', 'been', 'an', 'essential', 'guide', 'for', 'parents', 'wanting', 'to', 'find', 'the', 'best', 'books', 'for', 'their', 'children.', 'Now', 'in', 'its', 'fourth', 'edition,', ',Honey', 'for', 'a', 'Childâ€™s', 'Heart,', 'discusses', 'everything', 'from', 'the', 'ways', 'reading', 'affects', 'both', 'childrenâ€™s', 'view', 'of', 'the', 'world', 'and', 'their', 'imagination', 'to', 'how', 'to', 'choose', 'good', 'books.', 'Illustrated', 'with', 'drawings', 'from', 'dozens', 'of', 'favorites,', 'it', 'includes', 'an', 'indexed', 'and', 'updated', 'list', 'of', 'the', 'best', 'new', 'books', 'on', 'the', 'market', 'and', 'the', 'classics', 'that', 'you', 'want', 'your', 'children', 'to', 'enjoy.', 'Author', 'Gladys', 'Huntâ€™s', 'tastes', 'are', 'broad,', 'her', 'advice', 'is', 'rooted', 'in', 'experience,', 'and', 'her', 'suggestions', 'will', 'enrich', 'the', 'cultural', 'and', 'spiritual', 'life', 'of', 'any', 'home.'])],
      dtype=object)

In [20]:
new_df = books[['author','desc','genre','img','isbn','link','pages','rating','reviews','title','totalratings','tags']]
# new_df = books[['title','author','isbn','tags']]
new_df.head(1)

,author,desc,genre,img,isbn,link,pages,rating,reviews,title,totalratings,tags
0,[GladysM.Hunt],"[Family, favorite, now, revised, and, updated,...","[Parenting, Education, Nonfiction, Writing, Bo...",https://i.gr-assets.com/images/S/compressed.ph...,310242460,https://goodreads.com/book/show/126830.Honey_f...,251,4.44,341,Honey for a Child's Heart: The Imaginative Use...,3814,"[GladysM.Hunt, Parenting, Education, Nonfictio..."

In [21]:
# new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x)) #use this once warna multispace aa jayenge 
# new_df['tags']=new_df['tags'].apply(lambda x:x.lower()) #use this once warna multispace aa jayenge 
#error aari thi to net se naya syntax nikala hai V ye wali 

new_df.loc[:, 'tags'] = new_df['tags'].apply(lambda x: " ".join(x))
new_df.loc[:, 'tags'] = new_df['tags'].apply(lambda x: x.lower())
new_df.head(1)

,author,desc,genre,img,isbn,link,pages,rating,reviews,title,totalratings,tags
0,[GladysM.Hunt],"[Family, favorite, now, revised, and, updated,...","[Parenting, Education, Nonfiction, Writing, Bo...",https://i.gr-assets.com/images/S/compressed.ph...,310242460,https://goodreads.com/book/show/126830.Honey_f...,251,4.44,341,Honey for a Child's Heart: The Imaginative Use...,3814,gladysm.hunt parenting education nonfiction wr...

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1000,stop_words='english')

In [23]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [24]:
vector.shape

(13270, 1000)

In [25]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [26]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [27]:
# new_df['tags'].apply(stem)
new_df.loc[:, 'tags'] = new_df['tags'].apply(stem)

In [28]:
from sklearn.metrics.pairwise import cosine_similarity

In [29]:
similarity = cosine_similarity(vector)

In [30]:
similarity.shape

(13270, 13270)

In [31]:
similarity

array([[1.        , 0.03806935, 0.08695652, ..., 0.09931326, 0.15025063,
        0.07642227],
       [0.03806935, 1.        , 0.19034675, ..., 0.        , 0.20464687,
        0.04460997],
       [0.08695652, 0.19034675, 1.        , ..., 0.17025131, 0.06677806,
        0.07642227],
       ...,
       [0.09931326, 0.        , 0.17025131, ..., 1.        , 0.06537205,
        0.16625156],
       [0.15025063, 0.20464687, 0.06677806, ..., 0.06537205, 1.        ,
        0.03912554],
       [0.07642227, 0.04460997, 0.07642227, ..., 0.16625156, 0.03912554,
        1.        ]])

In [32]:
# new_df[new_df['title'] == 'Seductive Fantasy'].index[0]

In [33]:
def recommend(book):
    index = new_df[new_df['title'] == book].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [34]:
recommend('Seductive Fantasy')

Airborne
Children of the Blood
Spark
Wild Cat
Twisted Heart

In [35]:
import pickle

In [36]:
pickle.dump(new_df,open('book_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [37]:
# books.iloc[4[0]].img
books.head(1)

,author,desc,genre,img,isbn,link,pages,rating,reviews,title,totalratings,tags
0,[GladysM.Hunt],"[Family, favorite, now, revised, and, updated,...","[Parenting, Education, Nonfiction, Writing, Bo...",https://i.gr-assets.com/images/S/compressed.ph...,310242460,https://goodreads.com/book/show/126830.Honey_f...,251,4.44,341,Honey for a Child's Heart: The Imaginative Use...,3814,"[GladysM.Hunt, Parenting, Education, Nonfictio..."